<!-- ========================= FOOTER ========================= -->
<footer class="section-footer" style="height: 300px; background-color: lightgray;
 padding-top: 20px; margin-top: 250px;">
    <div class="footer-block footer-links left"
         style="float: left; margin-top: 45px; font-size: 17px; margin-left: 120px">
        <p class="title" style="font-size: 20px;">Користувачам і партнерам</p>
        <ul>Усе про передплати</ul>
        <ul>Бонуси та подарунки</ul>
        <ul>Активувати промокод</ul>
        <ul>Угода</ul>
        <ul>Програма лояльності</ul>
    </div>

    <div class="footer-block footer-links center" style="float: right; margin-top: 45px; font-size: 17px;
                                                        margin-right: 250px">

        <p class="title" style="font-size: 20px">Підтримка користувачів</p>
        <ul class="num" style="font-size: 25px">0 800 60 12 22</ul>
        <ul>support@djangoflix.com</ul>
        <ul>Питання та відповіді</ul>
    </div>

</footer>